/* Products.css */

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

/* Card */
.product-card {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border: #ffffdf;
  
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
  padding: 10px;
}

.product-card:hover {
  transform: translateY(-5px);
}

/* Image */
.product-image {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
  justify-content: center;
  display: flex;
}


/* Content */
.product-content {
  padding: 15px;
  margin: 2px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-content h3 {
  margin: 0;
  font-size: 18px;
}

.description {
  margin: 0;
  font-size: 14px;
  color: #555;
}

.price {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.actual-price {
  font-size: 16px;
  color: #999;
  text-decoration: line-through;
  margin-left: 5px;
} 

/* WhatsApp Button */
.whatsapp-btn {
  margin-top: auto;
  background-color: #25d366;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.whatsapp-btn:hover {
  background-color: #047531;
}

.out-of-stock {
  margin-top: auto;
  background-color: #f72424;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .product-image {
    height: 160px;
  }
}
