.header {
    width: 100%;
    height: 40vh; 
    font-size: 15px;
    margin: 0;
    color: #333232;
     display: inline-block;
}
.header-nav {
    padding: 5px;
    display: flex;
    align-items: center,
}

.header-logo { 
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
  height: 30px;
  width: 30px;
}

.header-img {
  width: 100%;
  height: 35vh;
  overflow-y: hidden;
  object-fit: cover;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 100vw; /* optional */
  width: 100%;
  height: 35vh;
  overflow-y: hidden;
  object-fit: cover;
}

.image-wrapper img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* opacity control */
}

.text-content {
  position: absolute;
  inset: 0;
  z-index: 2;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 16px;
}