.header {
    width: 100%;
    height: 40vh; 
    font-size: 15px;
    margin: 0;
    color: #333232;
     display: inline-block;
}
.header-nav {
    padding: 5px;
    display: flex;
    align-items: center,
}

.header-logo { 
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px;
  height: 30px;
  width: 30px;
}

.header-img {
  width: 100%;
  height: 35vh;
  overflow-y: hidden;
  object-fit: cover;
}
