.footer {
    width: 100%;
    position: relative;
    background-color: #332f2d;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 14px;
    color: #e2e2e2;
}
.footer p {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}   