.rapido-card {
  background: #f7f440ff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  /* flex-direction: column; 
  transition: transform 0.2s ease;*/
  padding: 20px;
  justify-content: space-around;
}

.rapido-card img {
    width: 25vw;
    max-width: 35vw;
    margin-left: 5px;
    object-fit: scale-down;  
    display: block;
}

.rapido-card-button {
  margin-top: auto;
  background-color: #000;
  color: #f7f440ff;
  text-align: center;
  padding: 10px;
  border: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}

.rapido-card-button:hover {
    background-color: #fff;
    color: #000;
}