.floating-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.floating-whatsapp img {
  width: 48px;
  height: 48px;
  color: #fff;
}

.floating-whatsapp:hover {
  background-color: #1ebe5d;
  color: #fff;
}
